.page-contact-section {
  display: flex;
}
.page-contact-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  height: calc(100vh - 123px);
  padding: 15px;
  color: #fff;
}
.page-contact-block--full {
  width: 100%;
}
.page-contact-block__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-contact-block__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.3;
}
.page-contact-block__text {
  position: relative;
  max-width: 495px;
  margin: 0 auto 20px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.page-contact-block__link {
  position: relative;
  min-width: 280px;
  padding: 0 1rem;
  transition: all 300ms;
  border: 1px solid #fff;
  letter-spacing: normal;
  font-size: 1.4rem;
}
.page-contact-block__link:hover {
  color: #fff;
  border: 1px solid #fff;
  background: #000;
}
@media only screen and (max-width: 1100px) {
  .page-contact-block {
    height: auto;
    aspect-ratio: 1;
  }
}
@media only screen and (max-width: 600px) {
  .page-contact-section {
    flex-direction: column;
  }
  .page-contact-block {
    width: 100%;
  }
}
